.card.m-1.p-2 div{
    margin: 0px;
}

.card.m-1.p-2 .card-title{
    width: 100%;
    height: 2vw;
    object-fit: cover;
}

.card.m-1.p-2 .card-text{
    width: 100%;
    height: 4vw;
    object-fit: cover;
}

.card.m-1.p-2 .card-footer{
    width: 100%;
    height: 3vw;
    object-fit: contains;
}

.selected {
    background-color: burlywood;
    color: green;
}